* {
  margin: 0;
  padding: 0;

}

body {
  min-height: 100vh;
  font-family: sans-serif;
  background-color: rgb(214, 235, 228);
  /* border: dotted red; */

}

.container {
  display: grid;
  grid-template-rows: 100px 1fr 80px;
  /* border: dotted blue; */
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px
}

.green-line{
  border-top: solid green 10px;
  padding: 10px;
}

.nav-bar {
  display: grid;
  grid-template-columns: 200px 100px 100px 100px 100px 100px 100px 200px;
  background-color: white;
  font-size: medium;
  color: #282c34;
  place-items: center;

}

img.logo{
  width: 100px;
  height: 100px;
  /* border: dotted blue; */
}

p {
  font-weight: 300;
}


.button-signup {
  background-color: #ddd;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid green;
  cursor: pointer;
  transition: background-colour 250ms;
  margin-bottom: 5px;
  width: 100px;


}

button:hover {
  background-color: white;
}

.main-section-one {
  display: grid;
  grid-template-columns:
    500px 500px;
  margin-top: 40px;
  color: #282c34;
  border: solid 1px green;
  border-radius: 5px;

}

.main-section-two {
  display: grid;
  grid-template-columns:
    325px 325px 325px;
  margin-top: 50px;
  color: #282c34;
  /* border: dotted blue; */

}

.button-book {
  background-color: #ddd;
  border-radius: 20px;
  padding: 12px;
  border: 1px solid green;
  cursor: pointer;
  transition: background-colour 250ms;
  margin-top: 20px;
  font-size: 1rem;

}

.button-callback {
  background-color: white;
  border-radius: 20px;
  padding: 12px;
  border: 1px solid green;
  cursor: pointer;
  transition: background-colour 250ms;
  margin-top: 20px;
  font-size: 1rem;
}

h1 {
  text-align: center;
  color: #282c34;
  margin-bottom: 10px;
}

h2 {
  padding: 50px;
}

img {
  width: 500px;
  
}

.questions {
  display: grid;
  /* grid-template-columns: 100px 100px 100px; */
  border: 5px solid rgb(214, 235, 228);
  padding: 20px;
  color: white;
  background-color: #282c34;
  text-align: center;
  font-size: 1.8rem;
}


section {
  font-size: large;
  width: 300px;
}

.main-text {
  margin-top: 20px;
}

.blue-text {
  color: #34BFFF;
  margin-top: 20px;
  font-size: 1.2rem;
}

@media (min-width: 786px) {
  .main-section {
    grid-template-columns: auto 1fr auto;
    grid-gap: 1.5rem;
    align-items: center;
  }
}

input {
  margin-top: 15px;
  margin-left: 5px;
  height: 30px;
  text-indent: 10px;
  border: 1px solid green;
  border-radius: 5px;
  display: inline;

}

textarea {
  margin-top: 5px;
  margin-left: 5px;
  height: 80px;
  width: 605px;
  border: 1px solid green;
  border-radius: 5px;
  display: inline;
}

.expert {
  margin-top: 40px;
  text-align: center;
 
}

.expert-ask{
  margin-top: 30px;
  text-align: center;
}

.expert-form-container{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 30vh;
  margin-bottom: 30px;
  margin-top: 80px;
   /* border: dotted blue; */
  
}

.expert-form {
  display: grid;
  grid-template-columns: 300px 300px;
  gap: 10px;

  }

  .expert-submit{
    background-color:  #ddd;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid green;
    cursor: pointer;
    transition: background-colour 250ms;
    margin-top: 5px;
    font-size: 1rem;
    width: 150px;
    

    
  }

.form-body {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.green-text {
  color: green;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;;
  font-size: 1.2rem;
}

.callback-form-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid green;
}

form {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 20px;
  width: 350px;
  justify-content: center;
  align-items: center;
}

.callback-input {
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 5px;
  height: 30px;
  text-indent: 10px;
  border: 1px solid green;
  border-radius: 5px;
  display: inline;
  width: 350px;

}

.textarea-input {
  margin-top: 5px;
  margin-left: 5px;
  height: 80px;
  width: 350px;
  border: 1px solid green;
  border-radius: 5px;
  display: inline;
}

.input-info {
  margin-left: px;
}

.button-request-callback {
  color: white;
  background-color: #282c34;
  border-radius: 20px;
  padding: 12px;
  border: 1px solid green;
  cursor: pointer;
  transition: background-colour 250ms;
  margin-top: 20px;
  font-size: 1rem;

}

.checkbox-input{
 width:15px;
 margin-top: 10px;
}

.newsletter-footer{
  display: grid;
  grid-template-columns: 500px 500px;
  background-color: #ddd;
  /* place-items: left; */
  border: 1px solid green;
  border-radius: 2px;
  padding: 15px;
  margin-top: 20px;
  
 
}

svg{
  width:30px;
}

.newsletter-left{
  padding: 30px;
  font-size: 1rem;
  /* border: dotted blue; */
  width: 400px;

}

p.sign-up-newsletter{
  margin-bottom: 10px;
}

p.email{
  margin-top: 20px;
}

.newsletter-right{
  padding: 30px;
  line-height: 30px;
  font-size: 1rem;
  /* border: dotted blue; */
  width: 400px;
  padding-top: 25px;
  margin-left: 30px;
}

.newsletter-submit{
  color: #282c34;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid green;
  cursor: pointer;
  transition: background-colour 250ms;
  margin-top: 20px;
  margin-left:100px ;
  font-size: 0.8rem;
  width:130px;
}

.email-input{
  width:250px;
  margin-left: 40px;
  margin-top: 20px;
  padding: 2px;
  
}


.newsletter-form{
  display: grid;
  grid-template-columns: 220px 220px;
  
}

svg.socials{
  width: 20px;
  margin-top:30px;
  
}


.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  background-color: white;
  padding: 50px;
  font-size: medium;
  color: #282c34;
  place-items: center;
  margin-bottom: 10px;
  margin-top: 50px;

}

.item{
  padding: 10px;
}

.full-width{
  grid-column: 1 / span 5;
  margin-top: 20px;
  font-size: small;


}


