* {
  margin: 0;
  padding: 0;

}

body {
  min-height: 100vh;
  font-family: sans-serif;
  background-color: rgb(214, 235, 228);
  border: dotted red;

}

.container {
  display: grid;
  grid-template-rows: 100px 1fr 80px;
  border: dotted blue;
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px
}

.nav-bar {
  display: grid;
  grid-template-columns: 140px 120px 120px 120px 200px 120px 140px;
  background-color: white;
  padding: 20px;
  font-size: medium;
  color: #282c34;
  place-items: center;

}


.logo {}

p {
  font-weight: 300;
}



.button-signup {
  background-color: #ddd;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid green;
  cursor: pointer;
  transition: background-colour 250ms;
  margin-bottom: 5px;
  

}

button:hover {
  background-color: white;
}

.main-section-one {
  display: grid;
  grid-template-columns:
    500px 500px;
  margin-top: 40px;
  color: #282c34;
  border: dotted blue;

}

.main-section-two {
  display: grid;
  grid-template-columns:
    325px 325px 325px;
  margin-top: 50px;
  color: #282c34;
  border: dotted blue;

}

.button-book {
  background-color: #ddd;
  border-radius: 20px;
  padding: 12px;
  border: 1px solid green;
  cursor: pointer;
  transition: background-colour 250ms;
  margin-top: 20px;
  font-size: 1rem;
  
}

.button-callback {
  background-color: white;
  border-radius: 20px;
  padding: 12px;
  border: 1px solid green;
  cursor: pointer;
  transition: background-colour 250ms;
  margin-top: 20px;
  font-size: 1rem;

}

h1 {
  border: dotted orange;
  text-align: center;
  color: #282c34;
}

h2 {
  padding: 20px;
}

.questions {
  display: grid;
  /* grid-template-columns: 100px 100px 100px; */
  border: white dotted;
  padding: 20px;
  color: white;
  background-color: #282c34;
  text-align: center;
  font-size: 1.8rem;
}

img {
  width: 500px;

}

section {
  font-size: large;
  width: 300px;
}

.main-text{
  margin-top: 20px;
}

.blue-text{
  color: #34BFFF;
  margin-top: 20px;
  font-size: 1.2rem;
}



@media (min-width: 786px){
  .main-section{
    grid-template-columns: auto 1fr auto ;
    grid-gap: 1.5rem;
    align-items: center;
  }
}

input {
  margin-top: 15px;
  margin-left: 5px;
  height: 30px;
  text-indent: 10px;
  border: 1px solid green;
  border-radius: 5px;
  display: inline;

}

textarea{
  margin-top: 5px;
  height: 50px;
  width: 200px;
  border: 1px solid green;
  border-radius: 5px;
  display: inline;
}

.expert{
  margin-top: 40px;
}

.form-body{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.blue{
  color:#34BFFF;
  text-align: center;
  margin-top: 50px;
}

.form-container{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-bottom: 20px;
  
}


form{
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 20px;
  width: 350px;  
  justify-content: center;
  align-items: center;
}

.callback-input{
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 5px;
  height: 30px;
  text-indent: 10px;
  border: 1px solid green;
  border-radius: 5px;
  display: inline;
  width: 350px;
  
}

.textarea-input{
  margin-top: 5px;
  margin-left: 5px;
  height: 80px;
  width: 350px;
  border: 1px solid green;
  border-radius: 5px;
  display: inline;
}

.input-info{
  margin-left: 5px;
}


.footer {
  margin-top: 50px;
}