* {
  margin: 0;
  padding: 0;

}

body {
  min-height: 100vh;
  font-family: sans-serif;
  background-color: rgb(214, 235, 228);
  /* border: dotted red; */

}

.page {
  display: grid;
  grid-template-rows: 100px 1fr 80px;
  /* border: dotted blue; */
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.logo {
  height: auto;
  width: 100px;
}

.nav-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}

.nav-bar p, .button-signup {
  margin: 0;
  padding: 0;
  font-size: 16px; /* Adjust size as needed */
}

.button-signup {
  background: none;
  border: none;
  color: inherit;
  text-align: left;
  cursor: pointer;
  font-weight: bold;
  display: inline;
  padding: 0;
  margin-right: 20px;
}

.surgery {
  cursor: pointer;
  list-style-type: none;
  position: relative;
}

.surgery p {
  text-decoration: none;
}

.surgery p:hover {
  text-decoration: underline;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  z-index: 1;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}


.nav ul li {

.button-signup {
  background-color: #ddd;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid green;
  cursor: pointer;
  transition: background-color 250ms;
  margin-bottom: 5px;
  width: 100px;

  position: relative;
}

.dropdown-menu li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}


p {
  font-weight: 300;
}


button:hover {
  background-color: white;
}

.main-section-one {
  display: grid;
  grid-template-columns:
    500px 500px;
  margin-top: 40px;
  color: #282c34;
  border: solid 1px green;
  border-radius: 5px;
}

.main-text{
  margin-top: 20px;
}

.button-book {
  background-color: #ddd;
  border-radius: 20px;
  padding: 12px;
  border: 1px solid green;
  cursor: pointer;
  transition: background-color 250ms;
  margin-top: 30px;
  font-size: 1rem;

}

.button-callback {
  background-color: white;
  border-radius: 20px;
  padding: 12px;
  border: 1px solid green;
  cursor: pointer;
  transition: background-color 250ms;
  margin-top: 30px;
  font-size: 1rem;
}

h1 {
  text-align: center;
  color: #282c34;
  margin-bottom: 10px;
}

h2 {
  padding: 50px;
  
}

img {
  width: 500px;
  border-radius: 3px;
  
}

.main-section-two {
  display: grid;
  grid-template-columns:
    334px 334px 334px;
  margin-top: 50px;
  /* color: #282c34; */
  /* border: dotted blue; */
}

.questions {
  border: 5px solid rgb(214, 235, 228);
  border-radius: 10px;
  padding: 20px;
  color: white;
  background-color: #282c34;
  text-align: center;
  font-size: 1.5rem;
}

img.festival{
  width: 280px;
}

img.yoga{
  width: 280px;
  height:210px;
}

img.running{
  width: 280px;
}

.blue-text {
  color: #34BFFF;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

@media (min-width: 786px) {
  .body {
    grid-template-columns: auto 1fr auto;
    grid-gap: 1.5rem;
    align-items: center;
  }
}

input {
  margin-top: 15px;
  margin-left: 5px;
  height: 30px;
  text-indent: 10px;
  border: 1px solid green;
  border-radius: 5px;
  display: inline;

}

textarea {
  margin-top: 5px;
  margin-left: 5px;
  height: 80px;
  width: 605px;
  border: 1px solid green;
  border-radius: 5px;
  display: inline;
}

.expert {
  margin-top: 60px;
  text-align: center;
 
}

.expert-ask{
  margin-top: 20px;
  text-align: center;
}

.expert-form-container{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 30vh;
  margin-top: 80px;
   /* border: dotted blue; */
  
}

.expert-form {
  display: grid;
  grid-template-columns: 300px 300px;
  gap: 10px;

  }

  .expert-submit{
    background-color:  #ddd;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid green;
    cursor: pointer;
    transition: background-color 250ms;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 1rem;
    width: 150px;
    
  }

.form-body {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.green-text {
  color: green;
  text-align: center;
  margin-top: 40px;
  /* margin-bottom: 10px; */
  font-size: 1.2rem;
}

.callback-form-box {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-bottom: 20px;
  margin-top: 10px;
  border: 1px solid green;
  padding-top: 20px;
  padding-bottom: 30px;
}

form {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 20px;
  width: 350px;
  justify-content: center;
  align-items: center;
}

.callback-input {
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 5px;
  height: 30px;
  text-indent: 10px;
  border: 1px solid green;
  border-radius: 5px;
  display: inline;
  width: 350px;

}

.textarea-input {
  margin-top: 5px;
  margin-left: 5px;
  height: 80px;
  width: 350px;
  border: 1px solid green;
  border-radius: 5px;
  display: inline;
}

.button-request-callback {
  color: white;
  background-color: #282c34;
  border-radius: 20px;
  padding: 12px;
  border: 1px solid green;
  cursor: pointer;
  transition: background-color 250ms;
  margin-top: 30px;
  font-size: 1rem;

}

.checkbox-input{
 width:15px;
 margin-top: 10px;
}

.newsletter-footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ddd;
  /* place-items: left; */
  border: 1px solid green;
  border-radius: 2px;
  padding: 15px;
  margin-top: 20px; 
 
}

svg{
  width:30px;
}

.newsletter-left{
  padding: 30px;
  margin-left: 225px;
  font-size: 1rem;
  /* border: dotted blue; */
  width: 500px;

}

p.sign-up-newsletter{
  margin-bottom: 10px;
}

p.email{
  margin-top: 20px;
}

.newsletter-right{
  padding: 30px;
  line-height: 30px;
  font-size: 1rem;
  /* border: dotted blue; */
  width: 500px;
  padding-top: 25px;
  margin-left: 30px;
}

.newsletter-submit{
  color: #282c34;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid green;
  cursor: pointer;
  transition: background-color 250ms;
  margin-top: 20px;
  margin-left:100px ;
  font-size: 0.8rem;
  width:130px;
}

.email-input{
  width:250px;
  margin-left: 40px;
  margin-top: 20px;
  padding: 2px;
  
}


.newsletter-form{
  display: grid;
  grid-template-columns: 220px 220px;
  
}

svg{
  width: 25px;
  margin-top:30px;
}

.socials-insta{
  /* width: 25px;
  margin-top:30px; */
  position: relative;
  left: 45px;
}

.socials{
  /* width: 25px;
  margin-top:30px; */
  position: relative;
  left: 35px;
}

.socials-twitter{
  /* width: 25px;
  margin-top:30px; */
  position: relative;
  left: 25px;
}


.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  background-color: white;
  padding: 50px;
  font-size: medium;
  color: #282c34;
  place-items: center;
  /* margin-bottom: 10px; */
  /* margin-top: 50px; */

}

.item{
  padding: 10px;
}

.full-width{
  grid-column: 1 / span 5;
  margin-top: 20px;
  font-size: small;
}
